p {
    font-size: medium;
    font-weight: 500;
}

button {
    background-color: #4CAF50; /* Green */
    border-radius: 3px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    margin-top: 5%;
    margin-left: 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}